{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.ts", "*.mts", "*.msj"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
